.marquee {
  position: relative;
  z-index: -5;
  margin-top: 140px;

  overflow: hidden;

  max-height: 104px;
  opacity: 0;

  display: flex;
}

.darken {
  .marquee {
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  .marquee {
    margin-top: 75px;

    img {
      height: 70px;
    }
  }
}